<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>DBA | Find the easiest way to manage DBS</title>
<!--meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<meta name="description" content="Themeclue is a gallery showcasing high-quality themes for Wordpress, Joomla, Drupal, Magento and many other CMS">
<link rel="stylesheet" href="{{ static_url("css/style.css") }}"-->
<link rel="stylesheet" href="{{ static_url("css/bootstrap.min.css") }}">
<link rel="shortcut icon" href="{{ static_url("favicon.ico") }}">
<script type="text/javascript" src="{{ static_url("js/jquery.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/bootstrap.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/bootstrap.file-input.js") }}"></script>
</head>
