<div class=" navbar navbar-inverse col-xs-12 col-lg-12">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
 		 <!-- Brand and toggle get grouped for better mobile display -->
  		<div class="navbar-header">
    			<a class="navbar-brand" href="#">MySQL Admin</a>
  		</div>

  <!-- Collect the nav links, forms, and other content for toggling -->
    			<ul class="nav navbar-nav navbar-right">
      				<li><a href="#">Logo</a></li>
      				<li class="dropdown">
        				<a href="#" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
        				<ul class="dropdown-menu">
          					<li><a href="#">setting</a></li>
          					<li><a href="#">Another action</a></li>
          					<li><a href="#">Something else</a></li>
          					<li class="divider"></li>
          					<li><a href="#">logout</a></li>
        				</ul>
      				</li>
    			</ul>
	</nav>
</div> 
