<section id="l-sidebar">
<form name="modulo" class="sidebar-form" action="search">
	<div class="accordion" id="accordion2">
		<div class="accordion-group boxshadow">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-target="#collapseTwo" href="#">数据库在线业务支持</a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse in">
				<a href="/review"> 
					<div class="accordion-inner claerfix" href="/review"><strong>SQL在线审核</strong>
						<!--button onclick="loadReview()"><strong>SQL在线审核</strong></button-->
					</div>
				</a>   
				<div class="accordion-inner clearfix">
						<a href="/rule.html"><strong>DB&SQL规范</strong></a>
				</div> 
				<div class="accordion-inner clearfix">
						<a href="#"><strong>SQL-MAP在线提交</strong></a>
				</div>
				<div class="accordion-inner clearfix">
						<a href="#"><strong>FORUM</strong></a>
				</div>
			</div> 
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle " data-toggle="collapse" data-target="#collapseOne" href="#">统计分析平台</a>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle " data-toggle="collapse" data-target="#collapseOne" href="#">分类三</a>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle " data-toggle="collapse" data-target="#collapseOne" href="#">分类四</a>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle " data-toggle="collapse" data-target="#collapseOne" href="#">分类五</a>
			</div>
		</div>
	</div>
</form>
</section>
