<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Themeclue | The easiest way to find the theme you need</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<meta name="description" content="Themeclue is a gallery showcasing high-quality themes for Wordpress, Joomla, Drupal, Magento and many other CMS">
<script type="text/javascript">
//<![CDATA[
try{if (!window.CloudFlare) {var CloudFlare=[{verbose:0,p:0,byc:0,owlid:"cf",bag2:1,mirage2:0,oracle:0,paths:{cloudflare:"/cdn-cgi/nexp/dok9v=02fcfa4f56/"},atok:"15d4974c1ac7183fa4b7f48d878fe020",petok:"19fcfafc4e3cdcca33f647c9579d869cec5a15ee-1395914852-1800",zone:"themeclue.com",rocket:"0",apps:{"ga_key":{"ua":"UA-40327382-1","ga_bs":"2"}}}];var a=document.createElement("script"),b=document.getElementsByTagName("script")[0];a.async=!0;a.src="//ajax.cloudflare.com/cdn-cgi/nexp/dok9v=b064e16429/cloudflare.min.js";b.parentNode.insertBefore(a,b);}}catch(e){};
//]]>
</script>
<link rel="stylesheet" href="{{ static_url("css/style.css") }}">
<!--link href="http://themeclue.com/css/style.css" rel="stylesheet" media="screen">
<link href="http://fonts.googleapis.com/css?family=Cabin:400,500,600,700|Asap:400,700" rel="stylesheet" type="text/css">
<link rel="shortcut icon" href="http://themeclue.com/img/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon.png"-->
<!--[if lt IE 9]><script language="javascript">location.href="http://themeclue.com/IE-warning.php";</script><![endif]--> <script type="text/javascript">
/* <![CDATA[ */
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-40327382-1']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
(function(b){(function(a){"__CF"in b&&"DJS"in b.__CF?b.__CF.DJS.push(a):"addEventListener"in b?b.addEventListener("load",a,!1):b.attachEvent("onload",a)})(function(){"FB"in b&&"Event"in FB&&"subscribe"in FB.Event&&(FB.Event.subscribe("edge.create",function(a){_gaq.push(["_trackSocial","facebook","like",a])}),FB.Event.subscribe("edge.remove",function(a){_gaq.push(["_trackSocial","facebook","unlike",a])}),FB.Event.subscribe("message.send",function(a){_gaq.push(["_trackSocial","facebook","send",a])}));"twttr"in b&&"events"in twttr&&"bind"in twttr.events&&twttr.events.bind("tweet",function(a){if(a){var b;if(a.target&&a.target.nodeName=="IFRAME")a:{if(a=a.target.src){a=a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);b=0;for(var c;c=a[b];++b)if(c.indexOf("url")===0){b=unescape(c.split("=")[1]);break a}}b=void 0}_gaq.push(["_trackSocial","twitter","tweet",b])}})})})(window);
/* ]]> */
</script>
</head>
<body id="search">
<div class="navbar">
<div class="navbar-inner">
<div class="container">
<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="brand" href=""><h1>大街DB管理平台</h1></a>
<div class="nav-collapse collapse">
<ul class="nav">
<li>
<a href="signin"></a>
</li>
<li>
<a href="signup">登陆</a>
</li>
</ul>
</div>
</div>
</div>
</div> <div class="container">
<div class="row">
<section id="l-sidebar" class="span3">
<form name="modulo" class="sidebar-form" action="search">
<input type="hidden" id="sort_by" value="date">
<input type="hidden" id="sort_data" value="DESC">
<input type="hidden" id="pag" value="1">
<div class="accordion" id="accordion2">
<div class="accordion-group boxshadow">
<div class="accordion-heading">
<a class="accordion-toggle expanded" data-toggle="collapse" data-target="#collapseTwo" href="#">
统计分析
</a>
</div>
<div id="collapseTwo" class="accordion-body collapse in">
<div class="accordion-inner clearfix">
<input type="checkbox" id="cb8" name="blog" value="1">
<label for="cb8" class="checkbox field">
<strong>查询负载统计</strong> <span id="objN8"></span><span class="chbx"></span>
</label>
</div>
<div class="accordion-inner clearfix">
<input type="checkbox" id="cb12" name="ecommerce" value="1">
<label for="cb12" class="checkbox field">
<strong>慢SQL统计分析</strong> <span id="objN12"></span><span class="chbx"></span>
</label>
</div>
<div class="accordion-inner clearfix">
<input type="checkbox" id="cb13" name="community" value="1">
<label for="cb13" class="checkbox field">
<strong>数据量统计</strong> <span id="objN13"></span><span class="chbx"></span>
</label>
</div>
<div class="accordion-inner clearfix">
<input type="checkbox" id="cb14" name="forum" value="1">
<label for="cb14" class="checkbox field">
<strong>FORUM</strong> <span id="objN14"></span><span class="chbx"></span>
</label>
</div>
</div>
</div>
<div class="accordion-group">
<div class="accordion-heading">
<a class="accordion-toggle " data-toggle="collapse" data-target="#collapseOne" href="#">
业务分布
</a>
</div>
<div id="collapseOne" class="accordion-body collapse">
<div class="accordion-inner clearfix">
<input type="checkbox" id="cb1" name="wordpress" value="1">
<label for="cb1" class="checkbox field">
<strong>实例与业务</strong> <span id="objN1"></span><span class="chbx"></span>
</label>
</div>
<div class="accordion-inner clearfix">
<input type="checkbox" id="cb5" name="tumblr" value="1">
<label for="cb5" class="checkbox field">
<strong>实例信息</strong> <span id="objN5"></span><span class="chbx"></span>
</label>
</div>
<div class="accordion-inner clearfix">
<input type="checkbox" id="cb6" name="custom" value="1">
<label for="cb6" class="checkbox field">
<strong>GHOST</strong> <span id="objN6"></span><span class="chbx"></span>
</label>
</div>
<div class="accordion-inner clearfix">
<input type="checkbox" id="cb7" name="others" value="1">
<label for="cb7" class="checkbox field">
<strong>OTHERS</strong> <span id="objN7"></span><span class="chbx"></span>
</label>
</div>
</div>
</div>
<footer id="footer">
<div id="bottom-footer" class="container">
<div class="pull-left">
<p><strong><a href="">Themeclue</a></strong> Copyright &copy; 2013. All themes &copy; their respective owners | <strong><a href="site/about">About</a></strong> | <strong><a href="site/compendium">Compendium</a></strong> | <strong><a href="site/terms">Terms</a></strong> | <strong><a href="site/privacy">Privacy</a></strong></p>
</div>
<div class="pull-right">
<p>Contact us at <strong><a href="mailto:contact@themeclue.com">contact@themeclue.com</a></strong></p>
</div>
</div>
</footer>
<script type="text/javascript" src="{{ static_url("js/jquery.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/bootstrap.min.js") }}"></script>
<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="http://themeclue.com/js/bootstrap.min.js"></script>
<script src="http://themeclue.com/js/jquery.nouislider.min.js"></script>
<script src="http://themeclue.com/js/placeholder.js"></script>
<script src="http://themeclue.com/js/search.js"></script>
<script src="http://themeclue.com/js/themeclue.js"></script>
<script src="http://themeclue.com/js/tc2.js"></script-->
<script>
price_slider();
jQuery(document).ready( function($) {
$('[placeholder]').placeholder();
} );
$('#slider').val([0,61]);
showValuesStart.call($('#slider'));
searchindex();
</script>
</body>
</html>

