{% extends 'layout/wid_layout.html' %}
</script>
{% block siderbar %}
<ul class="nav nav-pills nav-stacked">
	<li><a href="/">首页</a></li>
  	<li><a href="/review">SQL在线审核</a></li>
  	<li class="active"><a href="/rule">规则与规范</a></li>
  	<li><a href="#">SQL_MAP在线提交</a></li>
  	<li><a href="#">Demo</a></li>
</ul>
{% end %}
{% block main %}
<script>
//$(document).ready(function(){
//$('#myTab a[href="#tb_rule"]').tab('show')
//})
$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
<ul id= "myTab" class="nav nav-tabs">
  	<li><a href="#ruleList" data-toggle="tab">规则列表</a></li>
  	<li><a href="#tbRule" data-toggle="tab">定义表规则</a></li>
  	<li><a href="#messages" data-toggle="tab">定义字段规则</a></li>
  	<li><a href="#settings" data-toggle="tab">额外规则</a></li>
</ul>
<div class="tab-content">
  	<div class="tab-pane fade in  active" id="ruleList">
		<ul class="list-group">
		{% for i in ruleList %}
  			<li class="list-group-item">{{escape(i)}}</li>
		{% end %}
		</ul>
	</div>
  	<div class="tab-pane fade" id="tbRule">
		<form action="#" class="form-horizontal rule">
    	<fieldset>
		<div  class="col-xs-12 col-sm-6 col-md-4 tap">
    			<div class=" panel panel-default">
          			<div class="panel-heading">选择存储引擎</div>
          			<div class="panel-body">
      					<label class="checkbox inline">
        					<input name="engine" type="checkbox" value="InnoDB">
        					InnoDB
      					</label>
      					<label class="checkbox inline">
        					<input name="engine" type="checkbox" value="MyIsam">
        					MyIsam
      					</label>
  				</div>
        		</div>
		</div>
    
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
    		<div class="panel panel-default">
          		<div class="panel-heading">选择字符集</div>
          		<div class="panel-body">
      				<label class="checkbox inline">
        				<input type="checkbox" name = "charset" value="utf-8">
        				utf-8
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" name = "charset" value="gbk">
        				gbk
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" name = "charset" value="latin1">
        				latin1
      				</label>
  			</div>
        	</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
		<div class="panel panel-default">
          		<div class="panel-heading">字符校验规则</div>
          		<div class="panel-body">
      				<label class="checkbox inline">
        				<input type="checkbox" name="collation" value="utf8_general_ci">
        				utf8_general_ci
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" name="collation" value="utf8_bin">
        				utf8_bin
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" name="collation" value="utf8_unicode_ci">
        				utf8_unicode_ci 
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" name="collation" value="gbk_chinese_ci">
        				gbk_chinese_ci
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" name="collation" value="gbk_bin">
        				gbk_bin
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" name="collation" value="latin1_bin">
        				latin1_bin
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" name="collation" value="latin1_general_ci">
        				latin1_general_ci
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" name="collation" value="latin1_swedish_ci">
        				latin1_swedish_ci
      				</label>
  			</div>
		</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
    		<div class="panel panel-default">
          		<div class="panel-heading">表注释Comment</div>
          		<div class="panel-body">
      				<label class="radio inline">
        				<input type="radio" value="1" name="com_status" checked="checked">
        				必须有
      				</label>
      				<label class="radio inline">
        				<input type="radio" value="2" name="com_status">
        				建议有
      				</label>
      				<label class="radio inline">
        				<input type="radio" value="3" name="com_status">
        				不要求
      				</label>
  			</div>
        	</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
		<div class=" panel panel-default">
          		<div class="panel-heading">是否有主键</div>
          		<div class="panel-body">
      				<label class="radio inline">
        				<input type="radio" value="1" name="key_status" checked="checked">
        				必须有
      				</label>
      				<label class="radio inline">
        				<input type="radio" value="2" name="key_status">
        				建议有
      				</label>
      				<label class="radio inline">
        				<input type="radio" value="3" name="key_status">
        				不要求
      				</label>
  			</div>
        	</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
		<div class="panel panel-default">
          		<div class="panel-heading">主键字段类型</div>
          		<div class="panel-body">
				<label class="radio inline">
                                        <input type="radio" value="1" name="key_type" checked="checked">
                                        整形
                                </label>
                                <label class="radio inline">
                                        <input type="radio" value="2" name="key_type">
                                        字符串
                                </label>
  			</div>
        	</div>
        	</div>
    
		<!--div class="col-xs-12 col-sm-6 col-md-4 tap">
    		<div class="panel panel-default">
          		<div class="panel-heading">特殊字段</div>
          		<div class="panel-body">
     	 			<label class="radio">
        				<input type="radio" value="1" name="col_status" checked="checked">
        				必须有
      				</label>
      				<label class="radio">
        				<input type="radio" value="2" name="col_status">
       	 				建议有
      				</label>
      				<label class="radio">
        				<input type="radio" value="3" name="col_status">
        				不要求
      				</label>
  			</div>
        	</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
    		<div class="panel panel-default">
          		<div class="panel-heading" for="input01">特殊字段1</div>
          		<div class="panel-body">
            			<input type="text" placeholder="关键字" class="input-xlarge">
            			<p class="help-block"></p>
          		</div>
        	</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
    		<div class="panel panel-default">
          		<div class="panel-heading" for="input01">特殊字段2</div>
          		<div class="panel-body">
            			<input type="text" placeholder="关键字" class="input-xlarge">
            			<p class="help-block"></p>
          		</div>
        	</div>
		</div-->
    	</fieldset>	
<button type='submit' data-loading-text="正在保存..."  class="btn btn-success">提交</button>
</form>
</div>
  <div class="tab-pane fade" id="messages">...</div>
  <div class="tab-pane fade" id="settings">...</div>
</div>
<script>$(document).ready(function(){$('input[type=file]').bootstrapFileInput();});</script>
{% end %}
{% block siderbar_right %}
{% end %}
