{% extends 'layout/layout.html' %}
</script>
{% block siderbar %}
<ul class="nav nav-pills nav-stacked">
	<li><a href="/">首页</a></li>
  	<li><a href="/review">SQL在线审核</a></li>
  	<li class="active"><a href="#">规则与规范</a></li>
  	<li><a href="#">SQL_MAP在线提交</a></li>
  	<li><a href="#">Demo</a></li>
</ul>
{% end %}
{% block main %}
<ul class="nav nav-tabs">
  <li><a href="#profile" data-toggle="tab">规则列表</a></li>
  <li><a href="#tb_rule" data-toggle="tab">定义表规则</a></li>
  <li><a href="#messages" data-toggle="tab">定义字段规则</a></li>
  <li><a href="#settings" data-toggle="tab">额外规则</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="profile">...</div>
  <div class="tab-pane" id="tb_rule">
<form class="form-horizontal rule">
    	<fieldset>
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
    			<div class=" panel panel-default">
          			<div class="panel-heading">选择存储引擎</div>
          			<div class="panel-body">
      					<label class="checkbox inline">
        					<input name="engine" type="checkbox" value="InnoDB">
        					InnoDB
      					</label>
      					<label class="checkbox inline">
        					<input name="engine" type="checkbox" value="MyIsam">
        					MyIsam
      					</label>
  				</div>
        		</div>
		</div>
    
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
    		<div class="panel panel-default">
          		<div class="panel-heading">选择字符集</div>
          		<div class="panel-body">
      				<label class="checkbox inline">
        				<input type="checkbox" value="utf-8">
        				utf-8
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" value="gbk">
        				gbk
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" value="laitin">
        				laitin
      				</label>
  			</div>
        	</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
		<div class="panel panel-default">
          		<div class="panel-heading">字符校验规则</div>
          		<div class="panel-body">
      				<label class="checkbox inline">
        				<input type="checkbox" value="utf8-unicode">
        				utf8-unicode
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" value="utf8-bin">
        				utf8-bin
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" value="utf8-generic">
        				utf8-generic
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" value="gbk">
        				gbk
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" value="..">
        				latin
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" value="..">
        				latin
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" value="..">
        				latin
      				</label>
  			</div>
		</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
		<div class=" panel panel-default">
          		<div class="panel-heading">是否有主键</div>
          		<div class="panel-body">
      				<label class="radio inline">
        				<input type="radio" value="1" name="key_status" checked="checked">
        				必须有
      				</label>
      				<label class="radio inline">
        				<input type="radio" value="2" name="key_status">
        				建议有
      				</label>
      				<label class="radio inline">
        				<input type="radio" value="3" name="key_status">
        				不要求
      				</label>
  			</div>
        	</div>
		</div>
    
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
    		<div class="panel panel-default">
          		<div class="panel-heading">表注释Comment</div>
          		<div class="panel-body">
      				<label class="radio inline">
        				<input type="radio" value="1" name="com_status" checked="checked">
        				必须有
      				</label>
      				<label class="radio inline">
        				<input type="radio" value="2" name="com_status">
        				建议有
      				</label>
      				<label class="radio inline">
        				<input type="radio" value="3" name="com_status">
        				不要求
      				</label>
  			</div>
        	</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
		<div class="panel panel-default">
          		<div class="panel-heading">主键字段类型</div>
          		<div class="panel-body">
      				<label class="checkbox inline">
        				<input type="checkbox" value="INT">
        				INT
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" value="BIGINT">
        				BIGINT
      				</label>
      				<label class="checkbox inline">
        				<input type="checkbox" value="不要求">
        				不要求
      				</label>
  			</div>
        	</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
    		<div class="panel panel-default">
          		<div class="panel-heading">特殊字段</div>
          		<div class="panel-body">
     	 			<label class="radio">
        				<input type="radio" value="1" name="col_status" checked="checked">
        				必须有
      				</label>
      				<label class="radio">
        				<input type="radio" value="2" name="col_status">
       	 				建议有
      				</label>
      				<label class="radio">
        				<input type="radio" value="3" name="col_status">
        				不要求
      				</label>
  			</div>
        	</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
    		<div class="panel panel-default">
          		<div class="panel-heading" for="input01">特殊字段1</div>
          		<div class="panel-body">
            			<input type="text" placeholder="关键字" class="input-xlarge">
            			<p class="help-block"></p>
          		</div>
        	</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-4 tap">
    		<div class="panel panel-default">
          		<div class="panel-heading" for="input01">特殊字段2</div>
          		<div class="panel-body">
            			<input type="text" placeholder="关键字" class="input-xlarge">
            			<p class="help-block"></p>
          		</div>
        	</div>
		</div>
    	</fieldset>	
<button type='submit'   class="btn btn-primary">审核</button>
</form>
</div>
  <div class="tab-pane" id="messages">...</div>
  <div class="tab-pane" id="settings">...</div>
</div>
<script>$(document).ready(function(){$('input[type=file]').bootstrapFileInput();});</script>
{% end %}
{% block siderbar_right %}
{% end %}
