<footer id="footer">
	<div id="bottom-footer" class="container">
		<div class="row">
			<p><strong><a href="">DJ-DB</a></strong> Copyright &copy; 2014. All themes &copy; their respective owners | <strong><a href="site/about">About</a></strong> | <strong><a href="site/terms">Terms</a></strong> | <strong><a href="site/privacy">Privacy</a></strong></p> 
		</div> 
		<div class="row">
			<p>Contact us at <strong><a href="mailto:enqi.yu@dajie-inc.com">enqi.yu@dajie-inc.com</a></strong></p>
		</div> 
	</div> 
</footer>
