{% include "top.html" %}
<body>
	{% include "header.html" %}
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="col-xs-3 col-sm-3 col-md-3 siderbar">
			<div class="btn-group btn-group-justified message">
				<button type="button" class="btn btn-danger">Error&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge pull-right">0</span></button>
        			<button type="button" class="btn btn-warning">Warning&nbsp;&nbsp;<span class="badge pull-right">2</span></button>
        			<button type="button" class="btn btn-info">Message <span class="badge pull-right">4</span></button>
			</div>
			{% block siderbar %}{% end %}
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6">
				{% block main %}{% end %}
		</div>
		<div class="col-sm-3 col-sm-3 col-md-3">
			{% block siderbar_right %}{% end %}
		</div>
	</div>
<!--{% include "footer.html" %}-->
</body>
</html>
