<div class="btn-group btn-group-justified message">
  	<button type="button" class="btn btn-danger"><small>E</small><span class="badge pull-right">0</span></button>
   	<button type="button" class="btn btn-warning"><small>W</small><span class="badge pull-right">2</span></button>
	<button type="button" class="btn btn-info"><small>M</small><span class="badge pull-right">4</span></button>
</div>
<ul class="nav  nav-pills nav-stacked">
  	<li class="active"><a href="/">首页</a></li>
  	<li><a href="/review">SQL在线审核</a></li>
  	<li><a href="/rule">规则与规范</a></li>
  	<li><a href="#">SQL_MAP在线提交</a></li>
  	<li><a href="#">Demo</a></li>
</ul>
