<div class="btn-group btn-group-justified message">
  	<button type="button" class="btn btn-danger"><small>E</small><span class="badge pull-right">0</span></button>
   	<button type="button" class="btn btn-warning"><small>W</small><span class="badge pull-right">2</span></button>
	<button type="button" class="btn btn-info"><small>M</small><span class="badge pull-right">4</span></button>
</div>
<ul class="nav nav-tabs nav-pills nav-stacked">
  	<li class="active"><a href="/" data-toggle="tab">首页</a></li>
  	<li><a href="/review" data-toggle="tab">SQL在线审核</a></li>
  	<li><a href="/rule" data-toggle="tab">规则与规范</a></li>
  	<li><a href="#" data-toggle="tab">SQL_MAP在线提交</a></li>
  	<li><a href="#" data-toggle="tab">Demo</a></li>
</ul>
