{% include "top.html" %}
<body>
	{% include "header.html" %}
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 siderbar">
			<div class="btn-group btn-group-justified message">
				<button type="button" class="btn btn-danger"><small>E</small><span class="badge pull-right">0</span></button>
        			<button type="button" class="btn btn-warning"><small>W</small><span class="badge pull-right">2</span></button>
        			<button type="button" class="btn btn-info"><small>M</small><span class="badge pull-right">4</span></button>
			</div>
			{% block siderbar %}{% end %}
		</div>
		<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
				{% block main %}{% end %}
		</div>
		<div class="col-xs-12">
			{% block siderbar_right %}{% end %}
		</div>
	</div>
<!--{% include "footer.html" %}-->
</body>
</html>
